<h1>Edit</h1>
<h2><%= @employee.full_name %></h2>
<%= form_for @employee do |f| %>

<%= f.label :alias %>
<%= f.text_field :alias %><br><br>

<%= f.label :title %>
<%= f.text_field :title %><br><br>

<%= f.label :office %>
<%= f.text_field :office %><br><br>

<%= f.label :img_url %>
<%= f.text_field :img_url %><br><br>


Dog: <%= f.collection_select(:dog_id, @all_dogs, :id, :name) %>
<%= f.submit "Save" %>
<% end %>
