<h1><%=  @employee.full_name %></h1>
<ul>
  <img src="<%= @employee.img_url%>">

  <li>Alias: <%=  @employee.alias %></li>
  <li>Title: <%=  @employee.title %></li>
  <li>Office: <%=  @employee.office %></li>
  <li>Dog: <%=  @employee.dog.name %></li>

</ul>

<%= link_to "Edit", edit_employee_path(@employee) %>
